<div class="card-schedule">
  <div class="card-header">
    <span class="icon-header">📅</span>
    <h3>GRADE DE HORÁRIOS — {{ nomeDiaHoje | uppercase }}</h3>
  </div>

  <div class="schedule-list">
    <div *ngFor="let aula of aulasDoDia" class="schedule-item">
      
      <div class="item-header">
        <span class="course-badge" [ngClass]="getBadgeClass(aula.curso)">
          {{ aula.curso }}
        </span>
        <span class="time-tag">{{ aula.horario }}</span>
      </div>
      
      <h4 class="materia-title">{{ aula.materia }}</h4>
      
      <div class="item-footer">
        <span class="professor">👤 {{ aula.professor }}</span>
        <span class="sala">📍 {{ aula.local }}</span>
      </div>
      
    </div>

    <div *ngIf="aulasDoDia.length === 0" class="no-schedule-feedback">
      🎉 Sem aulas programadas para hoje!
    </div>
  </div>



<div>
  <app-card-email></app-card-email>
</div>


</div>

